* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
  }
  
  body {
    background: #585c68;
    font-size: 14px;
    line-height: 22px;
    color: #575555;
  }

.resume {
    width: 800px;
    height: 1160px;
    display: flex;
    margin: 50px auto;
    background-color: rgb(236, 243, 235);
  }

  .resume .resume_left{
  background: #11b8f5;
    width: 35%;
  }

  img{
    width: 250px;
    border: 1px solid black ;
    margin:2em 1em;
  }

  .name_profile{
    margin-left: 1em;
  }

  .details_profile .name {
    color: white;
    margin-left: 1em;
    font-weight: 700;
    font-size: 20px;
  }
  
  .resume .resume_left .details_profile ul li  .icon{
    width: 35px;
    height: 35px;
    background: #fff;
    color: rgb(77, 74, 74);
    border-radius: 50%;
    margin-right: 26px;
    font-size: 16px;
    position: relative;
    display: inline-block;
    
  }

  .resume  .resume_left .details_profile ul li .data{
    color: #b1eaff;
    font-size: 17px;
    margin: -2em 0em 0em 3em;
    
  }

  .resume .icon i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.resume .resume_left .details_profile ul li{
  margin-left: 1em;
}

hr{
  border:1px solid rgb(240, 235, 235);
  width: 80%;
  margin-left: 1.5em; 
}

.skill_container{
  margin-top: 1em ;
}
.skill_container .skill_name{
  color: white;
  font-weight: 700;
  font-size: 25px;
  margin-left: 1em;
}

.skill_container ul li .knowledge{
  color: #b1eaff;
  font-size: 18px;
  margin-top: 1.5em;
  margin-left: 1.5em;
 
}

.skill_container{
  margin-top: 1em;
}

.social_container .social_name{
  color: white;
  font-weight: 700;
  font-size: 25px;
  margin-left: 1em;
}
.resume .resume_left .social_container  ul{
  padding: 1em 0em 2em 0em;
}

.resume .resume_left .social_container  ul li .social_media{
  width: 40px;
  height: 40px;
  background: #fff;
  color: #0bb5f4;
  border-radius: 50%;
  margin-right: 15px;
  font-size: 16px;
  position: relative;
  margin: 1.5em 1em;
  
}

.social_container  ul li .social_media i{
  position:absolute;
  color: rgb(77, 74, 74);
  top: 27%;
  left: 27%;
  font-size: 20px;
}

.social_container  ul li .title{
  font-weight: 700;
  color: beige;
  font-size: 20px;
  margin-left: 2.7em ;  
}

.social_container  ul li .link{
  font-size: 15px;
  color: rgb(92, 85, 85);
  margin: 0.2em 0em;
}

.more_info .language{
  font-weight: 700;
  color: beige;
  font-size: 20px;
  margin: 1em; 

}

.more_info .info_glope{
  font-size: 15px;
  margin-left: 2em;
  font-weight: 700;
  color:#b1eaff ;

  
}



.resume_right{
  padding: 2em;
  
}
.resume .resume_right  .bold{
  font-size: 20px;
  font-weight: 900;
  color: #11b8f5;
}

.resume_right .cv_forme .content{
  margin-top: 1em;
  
  white-space: pre-line;
  font-size: 14px;
  color: #585c68;

}

.resume .resume_right hr{
  width: 100%;
  border: 2px solid #11b8f5;
  margin:0.5em 1em 2em 0em;
}

.resume .resume_right .studies .head .title_header{
  font-size:20px;
}

.resume .resume_right .studies .head {
  width: 50px;
  height: 50px;
  background-color: rgb(207, 195, 195);
  color: rgb(5, 5, 5);
  border-radius: 50%;
  
  font-size: 23px;

}

.resume_right .studies .head ul li i{
  
  margin: 0.5em 0.5em;
  
}
.resume .resume_right .studies .head ul  {
  
   display: flex;
  
}
.resume .resume_right .studies .head ul li .title_head{
    margin: 0.6em 0.5em 0em 1em ; 
    font-size: 16px;
    font-weight: bolder;
}
.resume .resume_right .studies .head ul li .line1 hr{
  border:2px solid #11b8f5;
  width: 270px;
  margin-top: 0.8em;
  
}

.resume .resume_right .studies .head{
  margin-top: 3em;
}

.resume .resume_right .studies .analisy{
  margin:1em;
}
.resume .resume_right .studies .analisy .year{
  
  font-weight:bolder;
  font-size: 18px;
  color: black;
  float: left;
  margin: 0.6em 0.8em 0em 1em;
}
.resume .resume_right .studies   .description {
   padding: 0.7em 1em ;
   margin-left: 5em;
  
}
.resume .resume_right .studies .analisy p.info_math{
  
  margin-left: 1em;
  
}
.resume .resume_right .studies .analisy p.info_math a{
  font-weight: bold;
  color: #0bb5f4;
  text-decoration-thickness: 2px ;
  margin-left: 1em;

}
.resume .resume_right .studies .analisy p a:hover {
  text-decoration: none;
  color: #973f3f;
}
.resume .resume_right .studies .analisy .work{
  position: relative;
  top: -21px;
  left: 200px;
}

.resume .resume_right   #hoby{
  display: flex;
  flex-wrap: wrap;
  margin-left:2em ;
  padding-top: 2em;
 
  
 
}
.resume .resume_right  .hobbies #hoby {
  
  font-size: 15px;
  font-weight: bold;
}
.resume .resume_right  .hobbies #hoby .hobby{
  margin: 1em;
   
}



